/* GOLBAL STYLES  */
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}


/** Header  **/

header {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 69px;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  flex: 1;
  margin-left: 10px;
}

img {
  height: 50px;
}

nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

nav span {
  margin-right: 20px;
}

nav span a {
  color: white;
}


/** Main Content**/

.main-content {
  padding-top: 63px;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
}

.mission-statement {
  width: 100%;
  background-color: black;
}


/** Footer  **/
